html {
    height: 100%;
}

body {
    background: rgba(46, 102, 0);
    background: -moz-linear-gradient(top, rgba(46, 102, 0) 0%, rgba(35,161,16,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop (0%, rgba(30,66,0,1)), color-stop(100%, rgba(35,161,16,1)));
    background: -webkit-linear-gradient(top, rgba(46, 102, 0) 0%, rgba(35,161,16,1) 100%);
    background: -o-linear-gradient(top, rgb(46, 102, 0) 0%, rgba(35,161,16,1) 100%);
    background: -ms-linear-gradient(top, rgba(46, 102, 0) 0%, rgba(35,161,16,1) 100%);
    background: linear-gradient(to bottom, rgba(46, 102, 0) 0%, rgba(35,161,16,1) 100%);
    filter: progid:DXimageTransform.Microsoft.gradient( startColorstr='#1e4200', endColorstr='#23a110', GradientType=0 );
    min-height: 100%;
}

#table {
    position: relative;
    padding-top: 20px;
}

#dealer {
    box-sizing: border-box;
    padding-left: 154px;
}

#dealer-score {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
    color: #ffffff;
    position: relative;
    font-size: 20px;
    padding-left: 500px;
}

#player-score {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
    color: #ffffff;
    position: relative;
    font-size: 20px;
    padding-left: 500px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 214px;
    position: relative;
    width: 100%;
}

#deck {
    top: 55px;
    left: 15px;
    z-index: 10;
    position: absolute;
    width: 120px;
    height: 180px;
    border-radius: 5px;
    padding: 2px;
    background-color: #f6f7eb;
    display: block;
    -webkit-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    -moz-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
}

.card { 
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 120px;
    height: 180px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 28px;
    padding: 2px;
    background-color: #f6f7eb;
    display: flex;
    -webkit-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    -moz-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    margin: 15px;
}

.back { 
    background: #36c;
    background:
    linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
    #36c;
    background-size: 15px 30px;
    width: 96%;
    height: 98%;
    margin: 1% auto;
    border-radius: 5px;
}

.diamonds, .hearts {
    color: #e93e41;
}

.spades, .clubs { 
    color: #393e41
}

.rank { 
    position: absolute;
    width: 30px;
    height: 28px;
}

.top {
    top: 2px;
    left: 2px;
}

.bottom { 
    bottom: 0;
    right: 2px;
    text-align: right;
}

.suit {
    margin: auto;
    font-size: 60px;
}

.border-line { 
    border: 4px solid #f6f7eb;
    opacity: 0.4;
    margin: 20px 0;
}

.score { 
    position: relative;
    text-align: center;
    font-family:'Roboto', sans-serif;
    color: #f6f7eb;
    opacity: 0.7;
    font-size: 20px;
    z-index: 10;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
}

/* Footer */ 
#panel { 
    text-align: center;
    background-color: #070707;
    position: absolute;
    bottom: 10px;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 5px;
}

#status {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
    color: #ffffff;
    position: relative;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* Buttons */

button {
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    color: #f6f7eb;
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
}

button.active { 
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px .5px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
    background-color: #6fc6ff;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15b35b;
}

.green:hover { 
    background-color: #48e68b;
}

.red { 
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #ce3323;
}

.red:hover { 
    background-color: #ff6656;
}

button:disabled {
    background-color: #999;
    box-shadow: 0px 5px 0px 0px #aaa;
}

button:disabled:hover { 
    background-color: #999;
}

button:disabled:active {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    box-shadow: 0px 5px 0px 0px #aaa;
}